{% macro render_log_entry(entry, alt='en', from_index=false) %}
<div class="log-entry">
  {% if from_index %}
  <h2><a href="{{ entry|url }}">{{ entry.title }}</a></h2>
  {% else %}
  <h2>{{ entry.title }}</h2>
  {% endif %}
  <p class="meta">
    {{ entry.author }},
    {% if alt == 'de' %}
    {{ entry.pub_date|dateformat('dd-MM-YYYY') }}
    {% else %}
    {{ entry.pub_date }}
    {% endif %}
  </p>

  {% if entry.category %}
  <span class="label {{ entry.category|lower }}">{{ entry.category_label|title }}</span>
  {% endif %}

  <div class="body">
    {# cover attachements #}
    {% if from_index or entry.has_cover %}
    {% for img in entry.attachments.images.filter(F.is_cover) %}
    <figure class="img">
      <img src="{{ img.thumbnail(300)|url }}" alt="{{ img.alt }}">
      <figcaption class="caption">{{ img.license }}, &copy; {{ img.copyright }}</figcaption>
    </figure>
    {% endfor %}
    {% endif %}

    {% if from_index %}
    {{ entry.outline }}
    {% else %}
    {{ entry.body }}
    {% endif %}
  </div>
</div>
{% endmacro %}
