<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=0.4">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  {% for alt in get_alts(this) %}
  <link rel="alternate" type="application/atom+xml" title="Scrolliris Changelog ({{ alt }})" href="{{ ('@feed/log-'+alt)|url }}">
  {% endfor %}
  <title>{% block title %}{% endblock %} | Scrolliris Changelog</title>
  <style>body{background:#ffffff;}</style>
</head>
<body>
  <div class="container">
    <header>
      <h1 class="title"><a href="{{ '/'|url(alt=this.alt) }}">Scrolliris Changelog</a>
        <span class="feed"><a href="{{ ('/@feed/log-'+this.alt)|url(alt=this.alt) }}">Feed</a></span>
      </h1>
      <nav>
        <ul class="nav">
          {# language #}
          {% for alt in get_alts(this) %}
            {% if this.alt != alt %}
            <li><a href="{{ './'|url(alt=alt) }}">{{ this.pad.config.get_alternative(alt).name['en']|title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>
    <section class="content">
      <div class="{% block class %}page{% endblock %}">
        {% block body %}{% endblock %}
      </div>
    </section>
    <footer>
      Copyright &copy; 2017 by Lupine Software LLC, <a href="https://gitlab.com/lupine-software/luzern/blob/master/LICENSE">GFDL-1.3</a>
    </footer>
  </div>
</body>
